---
import RootLayout from '../layouts/root.astro'
---

<RootLayout>
	<p>Hello world! This text is editible from the CMS</p>
	<ul>
		<li>asdfsdf</li>
		<li>asdfsdsdf</li>
		<li>fasfsdfsdf</li>
	</ul>
</RootLayout>